.mapboxgl-ctrl-top-left{
  width: 450px !important;
}

@media screen and (min-width: 640px){
  .mapboxgl-ctrl-geocoder {
      width: 100% !important;
    
  }
  .mapboxgl-ctrl-geocoder--input {
    height: 40px !important;
  }
  .mapboxgl-ctrl-geocoder--icon {
    top: 10.5px !important;
}
  svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-close {
    top: 3px !important;
    position: absolute !important;
    right: 0 !important;
  }
}
.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right{
  margin: 40px 12px 0 !important;
}